.row{
    display: flex;
    justify-content: space-between;
   
    
}
.col, .col-2, .col-3 {
    background-color: #5F9FA0;
    margin: 10px;
    height: 30px;
    padding: 15px   ;
    color: aliceblue;

}

.col{
    flex: 1; 
    
}
.col-2{
    flex: 2;
}

.col-3{
    flex: 3;
}